@{
    Layout=null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN" lang="EN" dir="ltr">
    <head profile="http://gmpg.org/xfn/11">
        <title>Cricket Updates</title>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
        <meta http-equiv="imagetoolbar" content="no" />
        <script type="text/javascript" src="~/Scripts/jquery-1.7.1.js"></script>
        <link rel="stylesheet" href="~/Content/layout.css" type="text/css" />
        <script type="text/javascript" src="~/Scripts/jquery-1.4.1.min.js"></script>
        <script type="text/javascript" src="~/Scripts/jquery.slidepanel.setup.js"></script>
        <script type="text/javascript" src="~/Scripts/jquery-ui-1.7.2.custom.min.js"></script>
        <script type="text/javascript" src="~/Scripts/jquery.tabs.setup.js"></script>

        <!-- Validation for SignUp -->
        <script type="text/javascript">
            function verify() {
                if (document.Form.Name.value == "") {
                    alert("Enter Team Name.");
                    return false;
                }
                if (document.Form.Test_Ranking.value == "") {
                    alert("Enter Opposition.");
                    return false;
                }
                if (document.Form.ODI_Ranking.value == "") {
                    alert("Enter Season.");
                    return false;
                }
                if (document.Form.T20_Ranking.value == "") {
                    alert("Enter Winner.");
                    return false;
                }
                return true;
        }

    </script>
</head>
<body>
        <div class="wrapper col0">
            <div id="topbar">
                <div id="slidepanel">
                    
                </div>
                <div id="loginpanel">
                    <ul>
                        <li class="left">Logout Here &raquo;</li>
                        <li class="right" id="toggle"><a id="slideit" href="/Home/Logout">User</a></li>
                    </ul>
                </div>
                <br class="clear" />
            </div>
        </div>
<!-- ####################################################################################################### -->
<div class="wrapper col1">
  <div id="header">
    <div id="logo">
      <h1><a href="#">Cricket Updates</a></h1>
    </div>
    <div class="fl_right">
        <ul>
            <li class="last"><a href="/Countries/Search">Search</a></li>
            <li> <a href="/Home/SignUp">SignUp</a> </li>
        </ul>
        <p> Tel: 0321-4357407 </p>
        <p> Mail: temourzakir39@gmail.com</p>
    </div>
    <br class="clear" />
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper col2">
  <div id="topnav">
      <ul>
          <li class="active"><a href="/Home/Index">Home</a>
              <ul>
                  <li class="last"><a href="/Countries/Add_Team">Add Team</a></li>
              </ul>
          </li>
          <li><a href="/Countries/All_Countries">Countries</a> </li>
          <li><a href="/LiveScores/live_scores">Live Scores</a></li>
          <li class="last"><a href="/Ranking/Ranking">Rankings</a></li>
      </ul>
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper col3">
  <div id="container">
      <form class="register" name="Form" onsubmit = "return verify()" action="/Countries/Add_Teams" method="post" enctype = "multipart/form-data">
            <h1> <b> Team Info </b> </h1>
            <fieldset class="row1">
                <p>
                    <label> Name </label>
                    <input type="text" class="long" id="Name" name ="Name" placeholder="Team Name"/>
                </p>

                <p>
                    <label> Test_Ranking </label>
                    <input type="text" id="Test_Ranking" name="Test_Ranking" placeholder="Test_Ranking"/>
                </p>

                <p>
                    <label> ODI_Ranking </label>
                    <input type="text" id="ODI_Ranking" name="ODI_Ranking" placeholder="ODI_Ranking"/>
                </p>

                <p>
                    <label> T20_Ranking </label>
                    <input type="text" id="T20_Ranking" name="T20_Ranking" placeholder="T20_Ranking"/>
                </p>

                <p>
                    Image: <input type="file" name="Pic" /> <br />
                </p>

            </fieldset>

              <div> <br />  <input type="submit" style = "height: 40px; width: 80px"  value="Add"/> </div>
      </form>
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper col4">
  <div id="container2">
    <div id="content">
    </div>
  </div>
</div>
<!-- ####################################################################################################### -->
    <div class="wrapper col6">
        <div id="copyright">
            <p class="fl_left">Copyright &copy; 2011 - All Rights Reserved - <a href="#">Domain Name</a></p>
            <p class="fl_right">Template by <a href="http://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
            <br class="clear" />
        </div>
</div>
</body>
</html>
<!-- ####################################################################################################### -->