@{
    Layout=null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN" lang="EN" dir="ltr">
    <head profile="http://gmpg.org/xfn/11">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Cricket Updates</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        
        <link href="~/Content/jquery-ui-1.10.4.css" rel="stylesheet" />
        <link href="~/Content/layout.css" rel="stylesheet" type="text/css"/>
        <script type="text/javascript" src="~/Scripts/jquery-1.7.1.js"></script>
        <link href="~/Content/bootstrap.css" rel="stylesheet" />
        <script type="text/javascript" src="~/Scripts/bootstrap.js"></script>
        <script type="text/javascript" src="~/Scripts/jquery-ui-1.8.20.js"></script>
        <link href="~/Content/jquery-ui-1.10.4.css" rel="stylesheet" />


        <!-- Validation for Search -->
        
        <script type="text/javascript">
            $(document).ready(function () {
                $('#search').keyup(function () {
                   
                    $.getJSON("/Countries/Search_Players?value=" + $('#search').val(),
                                        function (data) {
                                            var array_list = [];
                                            $.each(data, function (i, x) {
        
                                                array_list[i] = x;
                                            });
                                            
                                            $('#search').autocomplete({ source: array_list });
                                        });
                });
            });
    </script>

    </head>
    
    <body>    
         <div class="wrapper col0">
            <div id="topbar">
                <div id="slidepanel">
                    
                </div>
                <div id="loginpanel">
                    <ul>
                        <li class="left">Logout Here &raquo;</li>
                        <li class="right" id="toggle"><a id="slideit" href="/Home/Logout">User</a></li>
                    </ul>
                </div>
                <br class="clear" />
            </div>
        </div>
<!-- ####################################################################################################### -->
<div class="wrapper col1">
  <div id="header">
    <div id="logo">
      <h1><a href="#">Cricket Updates</a></h1>
    </div>
    <div class="fl_right">
      <ul>
          <li class="last"><a href="/Countries/Search">Search</a></li>
          <li><a href="/Home/SignUp">SignUp</a></li>
      </ul>
        <p> Tel: 0321-4357407 </p>
        <p> Mail: temourzakir39@gmail.com</p>
    </div>
    <br class="clear" />
  </div>
</div>    
<!-- ####################################################################################################### -->
<div class="wrapper col2">
  <div id="topnav">
    <ul>
          <li class="active"><a href="/Home/Index">Home</a>
              <ul>
                  <li class="last"><a href="/Countries/Search_Player">Search Player</a></li>
              </ul>
          </li>
          <li><a href="/Countries/All_Countries">Countries</a> </li>
          <li><a href="/LiveScores/live_scores">Live Scores</a></li>
          <li class="last"><a href="/Ranking/Ranking">Rankings</a></li>
      </ul>
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper col3">
  <div id="container">
      <form class="navbar-form navbar-right" method="post" action="/Countries/Search_Player_Show">
            <div class="form-group">
                Player Name:  <input type="text" id="search" name="search" placeholder="Team Name" class="form-control"/>
            </div> <br /> <br />
            <button type="submit" class="btn btn-default" style = "height: 40px; width: 70px">Search</button>
        </form>
  </div>
</div>
<!-- ####################################################################################################### -->